* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    position: fixed;
    z-index: 1;

}


header:hover {
    transition: all 0.7s;
    background-color: rgba(0, 0, 0, 0.5);
}

header #logo {
    width: 20%;
    height: 100%;
}

header #logo img {
    top: 20%;
    margin-left:25%;
    width: 50%;
    height: 60%;
}

#imagem-fundo {
    width: 100vw;
    height: 100vh;
    background-image: url(fundo2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

}

#imagem-fundo #desfocar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#imagem-fundo #desfocar #name {
    font-size: 3.5vw;
    width: 35%;
    height: 25%;
    position: relative;
    top: 40%;
    left: 32.5%;
    text-align: center;
    color: white;
}

#imagem-fundo #desfocar #name #descricaoName {
    font-size: 2vw;
}

.container {
    width: 100vw;
    height: 60vh;
    background-color: coral;
    display: flex;
}

.container #servicos {
    width: 80%;
    height: 80%;
    background-color: cornflowerblue;
    margin-top: 10%;
}
