* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background: white;   
}

::-webkit-scrollbar-thumb{
    background: black;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    position: fixed;
    z-index: 1;
    transition: all 0.7s;
}


header:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

header #logo {
    width: 20%;
    height: 100%;
}

header #logo img {
    top: 20%;
    margin-left:25%;
    width: 50%;
    height: 60%;
}

#imagem-fundo {
    width: 100vw;
    height: 100vh;
    background-image: url(fundo2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#imagem-fundo #desfocar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#imagem-fundo #desfocar #fundoName{
    font-size: 3.5vw;
    width: 60%;
    height: 45%;
    position: relative;
    top: 30%;
    left: 20%;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
}

#imagem-fundo #desfocar #fundoName #name {
    font-size: 3.5vw;
    width: 70%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 15%;
    text-align: center;
    color: white;
}

#imagem-fundo #desfocar #fundoName #name #descricaoName {
    font-size: 2vw;
}

.container {
    width: 100%;
    height: 60vh;
    background-color: coral;
    display: inline-block;
}

.container #servicos {
    width: 80%;
    height: 80%;
    margin-top: 8vh;
    background-color: cornflowerblue;
}
