* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background: black;   
}

::-webkit-scrollbar-thumb{
    background: white;
}

header {
    width: 8%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    transition: all 0.7s;
    border-right: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(2px);
}

header #logo {
    width: 100%;
    height: 20%;
    margin-top: 20%;
}

header #logo img {
    width: 85%;
    height: 70%;
    margin-left: 7.5%;
}

header .menu{
    width: 85%;
    height: 100%;
    margin-left: 7.5%;
}

header .menu ul{
    float: right;
    height: 100%;
}

header .menu ul li{
    display: inline;
    text-decoration: none;
    font-size: 2vw;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 30%;
    text-shadow: 0px 0px 15px white;
}

header .menu ul li:nth-child(0){
    display: none;
}

header .menu ul li img{
    height: 5vh;
}

header .menu ul li a{
    color: black;
    transition: all 1s;
    text-decoration: none;
}

header .menu ul li a:hover{
    color: #0059ff!important;
}

#imagem-fundo {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#imagem-fundo .imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#imagem-fundo #desfocar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#imagem-fundo #desfocar #fundoName{
    font-size: 3.5vw;
    width: 80%;
    height: 45%;
    position: relative;
    top: 30%;
    left: 10%;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
}

#imagem-fundo #desfocar #fundoName #name {
    font-size: 5.5vw;
    width: 70%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 15%;
    text-align: center;
    color: white;
}

#imagem-fundo #desfocar #fundoName #name img{
    display: none;
}

#imagem-fundo #desfocar #fundoName #name #descricaoName {
    font-size: 2vw;
}

.container {
    width: 100%;
    height: auto;
    display: inline-block;
    background-image: url(../img/fundoServicos.png);
    background-size: cover;
    background-position: center center;
}

.container #servicos {
    width: 80%;
    height: 80%;
    margin-top: 5vh;
    margin-left: 10%;
    margin-bottom: 3%;
}

.container #servicos #tituloServicos{
    color: white;
    font-size: 5.5vw;
    text-shadow: 0px 3px 5px black;
}

.container #servicos #descricaoServicos{
    color: white;
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
}

.container #servicos #conhecerServicos{
    width: 20%;
    height: 5vh;
    font-size: 1.2vw;
    border-radius: 7px;
    border: solid 1px;
    background-color: #232323;
    color: white;
    box-shadow: 0px 0px 7px 1px black;
    margin-left: 40%;
    margin-bottom: 1%;
    cursor: pointer;
    outline: none;
}

.container #servicos #conhecerServicos:active{
    transform: scale(0.9);
}

.container #contact{
    width: 80%;
    height: 80%;
    margin-top: 5vh;
    margin-left: 10%;
    margin-bottom: 3%;
    border-top: 1px solid white;
}

.container .contato{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.container .contato span{
    color: white;
    font-size: 5.5vw;
    text-shadow: 0px 3px 5px black;
    width: 100%;
    margin-bottom: 2%;
}

.container .contato div{
    height: 100%;
    width: 30%;
    margin-right: 3%;
}

.container .contato div img{
    width: 40%;
    cursor: pointer;
    transition: transform 0.5s;
}

.container .contato div img:hover{
    transform: scale(1.05)
}

.footer{
    background-color: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
}


/* Inicio da responsividade */

@media (max-width: 1100px){
    #header{
        width: 13%;
    }

    header .menu ul li {
        font-size: 3vw;
        margin-top: 15%;
    }
}

@media (max-width: 900px){
    #header{
        width: 100%;
        height: 15vh;
        overflow: hidden;
    }

    header #logo {
        width: 20%;
        height: 100%;
        margin-top: 2vh;
        margin-left: 10%;
    }

    header #logo img {
        width: 100px;
        height: 75%;
    }

    header .menu {
        width: 60%;
        height: 100%;
        float: left;
        margin-left: 0;
    }

    header .menu ul {
        margin-top: 4%;
        text-align: end;
    }

    header .menu ul li {
        display: block;
        text-decoration: none;
        font-size: 5vw;
        list-style: none;
        margin-top: 2vh;
        font-size: 3vw;
    }
}

@media (max-width: 715px){
    .container #servicos #descricaoServicos{
        font-size: 3vw;
        transition: all 0.7s
    }

    .container #servicos #conhecerServicos{
        font-size: 2.2vw;
    }

    #imagem-fundo #desfocar #fundoName #name {
        font-size: 10.5vw;
        transition: font-size 0.7s
    }
}

@media (max-width: 535px){
    .container #servicos #conhecerServicos{
        font-size: 3vw;
        width: 40%;
        margin-left: 30%;
    }
}

@media (max-width: 455px){   

    header .menu ul li {
        font-size: 8vw;
        margin-top: 3.5vh;
    }

    #imagem-fundo #desfocar #fundoName #name{
        top: 0%;
    }

    #imagem-fundo #desfocar #fundoName #name img{
        display: block;
        height: 70%;
        width: 85%;
        margin-left: 7.5%;
    }

    .container #servicos #tituloServicos{
        font-size: 8.5vw;
    }

    .container #servicos #conhecerServicos{
        font-size: 4vw;
    }

    .container #servicos #descricaoServicos {
        font-size: 5vw;
    }

}

